{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="listings"> Active Listings</h2>
    <div class="grid-container">
    {% for item in Listing %}
        {% if item.is_active == True%}
        <div class="grid">
            <a  href="/auctions/{{ item.title }}"> <span class="title">{{ item.title }}  -  Owner: {{ item.owner }}</span></a>
            {% if img != "" %}
                <img class="image" src="{{ item.img }}" alt="{{ item.title }}">
            {% else %}
                <h3>No image</h3>
            {% endif %}
            <span class="text">
                starting price: {{ item.starting_price  }}$
                <br>
                description: {{ item.text }}
            </span>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}